/* .banner:has(+ #book-a-table) {
    background-position: center 55%;
} */

dialog {
    position: static;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;

    background-color: black;

    transform-origin: top right;
}

dialog:focus-visible {
    outline: none;
}

.dialog-open {
    animation: scale-2d 600ms, border-round-to-sharp 600ms;
}

.dialog-close {
    animation: scale-2d 600ms reverse, border-round-to-sharp 600ms reverse;
}

form {
    margin: 0 auto;
    width: max(30vw, 24rem);

    font-family: 'Poppins', sans-serif;

    background-color: black;
}

label {
    display: grid;
    margin-bottom: 3rem;

    font-size: 0.9rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: hsl(0, 0%, 60%);
}

input,
select {
    border: none;
    border-bottom: solid white 1px;
    padding: 0.5rem;
    padding-left: 0.25rem;

    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    letter-spacing: 0.05rem;
    color: white;

    background: none;
}

input:focus-visible,
select:focus-visible {
    outline: none;
}

form button {
    width: 100%;
}

.close {
    position: fixed;
    inset: 1rem 1rem auto auto;

    display: flex;
    align-items: center;
    justify-content: center;

    border: solid 1px transparent;
    border-radius: 1px;
    padding: 0;
    height: 3rem;
    width: 3rem;

    font-size: 1.5rem;
    font-weight: 200;

    background: none;

    transition: color 400ms, border-color 400ms;
}

.close:hover {
    border-color: white;
}

@keyframes scale-2d {
    0% { transform: scale(0, 0); }
    100% { transform: scale(1, 1); }
}

@keyframes border-round-to-sharp {
    0% { border-radius: 100% 0% 50% 100%; }
    100% { border-radius: 0%; }
}
