/* .banner:has(+ #book-a-table) {
    background-position: center 55%;
} */

dialog,
::backdrop {
    background-color: black;
}

dialog {
    width: max(30vw, 24rem);
}

form {
    margin: 0 auto;

    font-family: 'Poppins', sans-serif;
}

label {
    display: grid;
    margin-bottom: 3rem;

    font-size: 0.9rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: hsl(0, 0%, 60%);
}

input,
select {
    border: none;
    border-bottom: solid white 1px;
    padding: 0.5rem;
    padding-left: 0.25rem;

    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    letter-spacing: 0.05rem;
    color: white;

    background: none;
}

input:focus-visible,
select:focus-visible {
    outline: none;
}

form button {
    width: 100%;
}