.banner:has(+ #menu) {
	background-position: center 75%;
}

h2 {
	margin-bottom: 2rem;

	font-family: "Poppins", sans-serif;
	font-weight: 700;
	font-size: 2rem;
}

.menu-sections {
	display: grid;
	grid-template-columns: auto auto;
	gap: 2rem;

	margin-bottom: 4rem;
}

.menu-item h3 {
	font-size: 1.5rem;
}

.menu-item p {
	font-size: 1rem;
}

.menu-item span {
	font-size: 1.5rem;
	color: hsl(30, 50%, 80%);
}
