#about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

    height: auto;
    background-color: black;
}

#about h1 {
    padding: 4rem;
    font-weight: 100;
}

.banner:has(+ #about) {
    background-position: left 95%;
}

.img-container {
    width: 100%;

    background-image: url(../../assets/images/restaurant-birds-eye.jpg);
    background-size: cover;
    background-position: bottom right;
}

.p-container p {
    margin-top: 1rem;
}

.p-container h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 2rem;
}
