#about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

    height: auto;
    background-color: black;
}

#banner {
    display: flex;
    align-items: center;

    height: auto;

    background-image: url(../../assets/images/hero-background.jpg), linear-gradient(60deg, hsla(0, 0%, 0%, 0.5), hsla(0, 0%, 0%, 0) 50%);
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
}

#about h1 {
    padding: 4rem;
    font-weight: 100;
}

.img-container {
    width: 100%;

    background-image: url(../../assets/images/restaurant-birds-eye.jpg);
    background-size: cover;
    background-position: bottom right;
}

.p-container p {
    margin-top: 1rem;
}

.p-container h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 2rem;
}
